<html>
    <head>
        <title>CRUD Application</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    </head>
    <body class="bd-info" style="background-color:brown">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="background-color:#add8e6;margin-top:25px;padding:20px">
                    {{{body}}}
                </div>
            </div>
        </div>
    </body>
</html>